<% content_for :header_buttons do %>
  <nav>
    <ul>
      <li><a href="/">view all recipes</a></li>
      <li><a href="/grocery">finish grocery list!</a></li>
    </ul>
  </nav>
<% end %>

<h2>Add to your Grocery List</h2>
<form class="ingredient-list delete-recipe" action="/grocery/delete" method="post">
<button type="delete" name="delete">delete grocery list</button>
</form>

<table class="ingredient-list">
  <% @storage.view_grocery_list.each do |id, ingredient| %>
  <tr>
    <td><%= ingredient[:amount] %></td>
    <td><%= ingredient[:name] %></td>
    <td>#<%= ingredient[:tag] %></td>
    <td>
      <form action="/grocery/<%= id %>/delete" method="post">
      <button type="submit" name="delete">x delete</button>
    </form>
    </td>
  </tr>
  <% end %>
</table>

<form class="ingredient-form" action="/grocery/edit/add" method="post">
  <input type="text" name="amount" placeholder="enter amount" size="10">
  <input type="text" name="name" placeholder="add extra items (eg. tissues)" size="25" required >
  <select name="tag">
    <option disabled selected>category</option>
    <% CATEGORIES.each do |category| %>
      <option name = "tag" value="<%= category %>"><%= category %></option>
    <% end %>
  </select>

  <button type="submit" name="add">add item to list</button>
</form>